
@font-face {
    font-family: "ApercuProBold";
    src: url(Fonts/Apercu\ Pro\ Bold.otf);
    
}

@font-face {
    font-family: "ApercuProMedium";
    src: url(Fonts/Apercu\ Pro\ Medium.otf);
}

@font-face {
    font-family: "ApercuProMono";
    src: url(Fonts/Apercu\ Pro\ Mono.otf);
}

@font-face {
    font-family: "ApercuProRegular";
    src: url(Fonts/Apercu\ Pro\ Regular.otf);
}

@font-face {
    font-family: "EurostileBlackItalic";
    src: url(Fonts/AnyConv.com__Eurostile-Black\ Italic.otf);
}
@font-face {
    font-family: "TiffanyStdDemi";
    src: url(Fonts/TiffanyStd-Demi.otf);
}
@font-face {
    font-family: "TiffanyStdDemiIt";
    src: url(Fonts/TiffanyStd-DemiItalic.otf);
}
@font-face {
    font-family: "TiffanyStdHeavy";
    src: url(Fonts/TiffanyStd-Heavy.otf);
}
@font-face {
    font-family: "TiffanyStdItalic";
    src: url(Fonts/TiffanyStd-Italic.otf);
}
@font-face {
    font-family: "TiffanyStdLight";
    src: url(Fonts/TiffanyStd-Light.otf);
}
@font-face {
    font-family: "TiffanyStd";
    src: url(Fonts/TiffanyStd.otf);
}

html, body { 
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* header, body {
    color: white;
    background-color: black;
}
.row {
    background-color: black;
}
html {
    background-color: black;
} */

#overlay {
    position: absolute;
    top: 0;
    left:0;
    width:0vw;
    height:100vh;
    opacity: 0.7;
    background-image: linear-gradient(to right, rgba(255, 138, 29, 0.959), rgba(104,104,195,1));
    z-index: 2;
    /* display: inline; */
    transition: width 0.7s;
}
#content {
    display: inline;
}
#thenav {
    position: absolute;
    right:0;
    width: 0vw;
    display: flex;
    background-color:#676ac1;
    top: 0;
    padding-top: 10vw;
    z-index: 2;
    font-family: "ApercuProMono";
    height:100%;
    transition: width 0.7s;
}

nav ul {
    list-style-type: none;
    width: 90%;
    line-height: 1.8em;
}
nav li a {
    text-decoration: none;
    color: black;
} 
nav li a:hover {
    text-decoration: none;
    color: white;
} 
/* li a:visited {
    color: black;
    text-decoration: none;
} */
/* li a:focus {
    color:black;
    text-decoration: none;
} */


#thenav div {
    margin-top: -3vw;
}

#thephonenav {
    background-color: #676ac1;
    width:0vw;
    height: auto;
    padding-bottom: 5vh;
    overflow:hidden;   
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10vw;
    z-index: 2;
    font-family: "ApercuProMono";
    display: inline;
}
#thephonecontent {
    z-index: 2;
} 
header {
    padding-top: 4vw;

}

#title {
    font-family: "TiffanyStdDemi";
    margin-left: 2ch;
    margin-top: 3ch;
    font-size: 1.2em;
}

#nav {
    padding: 5px 0;
    text-align: center;
    font-family: "ApercuProMono";
    position: absolute;
    right: 0;
    /* margin-right: 10%; */
    padding-right: 4ch;
    font-size: 0.8em;
    /* z-index: 1; */
}

#top-message {
    margin-top: 2ch;
    text-align: center;
    font-family: "TiffanyStdDemi";
    font-size: 7vw;
    /* z-index: 0; */
    line-height: 0.95;

    /* background-color: black;
    color: white; */
}
#intro {
    /* z-index: 0; */

}

#art,
#engineering {
    /* color: #8b8ac0; */
    color: #676ac1;
}

#logo {
    display: block;
    z-index: -1;
}
#videodiv {
    /* margin-top: -0.8vw;
    margin-left: -3vw; */
    width:100%;
    overflow:hidden;   
    margin-top: -3ch;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin-top 0.5s;   

}

#videodiv > #theVid {
    min-width: 100%;
    min-height: 100%;
}
#theVid {

    margin: 0 auto;
    /* transform: translate3d(50px, 200px, 0); */
}
#secondCont {
    margin:0 auto;
    width:72vw
}
#carouselExampleInterval {
    width: 72vw;
    height: 40vw;
    margin: 0 auto;
    margin-top: 2ch;
    overflow: hidden;
    
    
}

.d-block w-100 {
    margin-left: auto;
    margin-right: auto;
    display: block;
 
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#sec {
    padding-top: 4vw;
}
#create {
    font-family: "ApercuProMedium";
    font-size: 6vw;
    line-height: 0.95;
    text-align: left;
    max-width: 68vw;
}
#sec2 {
    padding-top: 0.5vw;
}
#smallprint {
    font-family: "ApercuProRegular";
    font-size: 4vw;
    line-height: 0.95;
    text-align: left;
    max-width: 65vw;
}

#thirdCont {
    margin:0 auto;
    width:88vw
}

#WhatTitle {
    margin-top: 4vw;
    font-family: "ApercuProMedium";
    font-size: 6vw;
}



#exone {
    text-align: center;
    margin-top: 1ch;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
#imgone {
    width: 60vw;
    height: 40vw;
    margin-top: 4ch;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#imgone img {
    object-fit: cover;
    min-height: 100%;
}

#extwo {
    text-align: center;
    margin-top: 1ch;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
#imgonetwo {
    width: 60vw;
    height: 40vw;
    margin-top: 3ch;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#imgonetwo img {
    object-fit: cover;
    min-height: 100%;
}

#exTitle{
    font-family: "ApercuProMedium";
    font-size: 5vw;
}
#exExplain {
    margin-top: -2vw;
    font-family: "ApercuProRegular";
    font-size: 3vw;
}








footer {
    line-height: 1;
    position: absolute;
    margin-top: 6vw;
    text-align: center;
    width: 100%;
}

interaction-tile {
    background-color: #ffd451;
    width:100%;
    height: 13vw;
}

#interaction {
    font-family: "ApercuProBold"; 
    line-height: 2vw; 
    letter-spacing: 0.02vw; 
    font-size: 1.5vw; 
    margin-left: 3.2vw;
    margin-top: 1.8vw;  
}

.got-any {
    font-family: "TiffanyStdDemi";
    font-size: 2.7vw;
    margin-left: 5vw;
    margin-top: 3vw;
}

.footer-details ul { 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.bottom-footer-section { 
    color:black; 
    padding-top: 1vw; 
    padding-bottom: 5vw; 
}

.detail-title p { 
    font-family: "ApercuProBold"; 
    line-height: 2vw; 
    letter-spacing: 0.02vw; 
    font-size: 1.5vw; 
    text-align: left;
    margin-left: 3.2vw;
}

.detail-heading { 
    font-family: "ApercuProBold"; 
    font-size: 2.7vw; 
    line-height: 3vw;  
    letter-spacing: 0.05vw; 
    padding-top: 1vw; 
    font-weight: normal; 
    text-align: left;
    margin-left: 5vw; 
    width:60%; 
    word-wrap: break-word; 
    margin-top: 1.5vw;
}

.bottom-footer-section .footer-details a { 
    text-decoration: none; 
    color:black; 
}

.footer-mail-link, .footer-call-link { 
    font-family: "ApercuProMono";  
    font-size: 1.5vw; 
    font-weight: 300; 
    width: 100%; 
}


.footer-call-link a, .footer-mail-link a { 
    font-family: "ApercuProBold"; 
    line-height: 0.02vw; 
    font-weight: normal; 
}


.footer-call-link { 
    padding-top: 0px; 
}

.footer-address li { 
    float: left; 
    padding: 0 0.9vw; 
    position: relative; 
}

.contact-details li { 
    font-family: "ApercuProMono"; 
    font-size: 1.1vw; 
    line-height: 1.2vw; 
    font-weight: 300; 
    letter-spacing: 0.02vw; 
    list-style-type: none; 
}

.footer-address .contact-details li:after { 
    content: "|"; 
    position: absolute; 
    top: 0px; 
    right: -0.4vw; 
}

.footer-address .contact-details li:last-child:after { 
    display: none; 
}

.contact-details { 
    margin-top:0px; 
    margin-left: 4.5vw !important; 
}

.contact-content { 
    margin-top: 6vw;  
    position: absolute; 
    right: 0; 
    top: 0;
    text-align: left; 
    margin-right: 3.2vw;
}

.contact-content ul li {
    margin: 0; 
    line-height: 0.5em;
}

.contact-details a:hover {
    color: #ffd451;
}
.contact-content a:hover {
    color: #ffd451;
}
#copyright {
    font-family: "ApercuProMono";
    color:black;
    text-align: center;
    display: block;
    margin-top: 4.5vw;
    font-size: 1.1vw;
    transition: 0.3s;
    margin-left: 2vw;
}
#buttonbehance {
    margin-left: 57vw;
    width: 15vw;
    height:3.5vw;
    border-radius: 2vw 2vw 2vw 2vw;
    font-family: "ApercuProMedium";
    font-size: 1.1vw;
    background-color:black; 
    color:white;
    font-style: none;
    text-decoration: none;
}
#buttonbehance a:visited {
    color: inherit;
    text-decoration: none;
}

#buttonbehance:hover {
    border: 1px solid yellow;
}


#featureTwo {
    display: flex;
    flex-direction: column-reverse;
}


@media (min-width: 576px) {
    #exExplain {
        margin-top: 0vw;
        font-family: "ApercuProRegular";
        font-size: 3vw;
    }
    
    #exTitle{
        font-family: "ApercuProMedium";
        font-size: 4vw;
    }
    #exExplain {
        font-family: "ApercuProRegular";
        font-size: 2vw;
    }
    #title {
        margin-left: 3ch;
        margin-top: 2ch;
        font-size: 1.2em;
    }
    
    header {
        padding-top: 3vw;
    }

    #nav {
        margin-top: -0.3ch;
        font-size: 0.9em;
    }

    #top-message {
        margin-left: 1.5ch;
        margin-top: 1.3ch;
        text-align: left;
        font-size: 4vw;
    }
    #videodiv {
        /* margin-top: -0.8vw;
        margin-left: -3vw; */
        width:100%;
        overflow:hidden;   
        margin-top: -3ch;
    }
    
    #create {
        font-family: "ApercuProMedium";
        font-size: 3.5vw;
        line-height: 0.95;
        text-align: left;
        max-width: 60vw;
    }

    #sec2 {
        /* z-index: 1; */
        margin-top: -2vw;
    }
    #smallprint {
        font-family: "ApercuProRegular";
        font-size: 2vw;
        line-height: 0.95;
        text-align: left;
        max-width: 50vw;
    }

    #carouselExampleInterval {
        margin-top: 0ch;  
    }

    #WhatTitle {
        margin-top: 4vw;
        font-family: "ApercuProMedium";
        font-size: 4vw;
    }
}

@media (min-width: 768px) {
    #carouselExampleInterval {
        margin-top: 0ch;  
    }
    #projects {
        margin-top: -2vw;
    }
    #underline {
        width: 28vw;
        background-color: #ffd451;
        height: 5px;
        margin-right: 10vw;
    }
    #explainOne {
        display: flex;

    }
    #exone {
        text-align: right;
        margin-top: 20vw;
        width: 28vw;
        margin-right: 10vw;
        
    }
    #imgone {
        width: 45vw;
        height: 30vw;
        margin-top: 8vw;
        margin-left: 10vw;
        overflow: hidden;
    }
    
    #imgone img {
        object-fit: cover;
        min-height: 100%;
    }
    
    #extwo {
        text-align: left;
        margin-top: 18vw;
        margin-left: 10vw;
        width: 28vw;
    }
    #imgonetwo {
        width: 45vw;
        height: 30vw;
        margin-top: 8vw;
        margin-right: 10vw;
        overflow: hidden;
    }
    #imgonetwo img {
        object-fit: cover;
        min-height: 100%;
    }
    
    #exTitle{
        font-family: "ApercuProMedium";
        font-size: 2.3vw;
    }
    #exExplain {
        font-family: "ApercuProRegular";
        font-size: 1.3vw;
    }
    
    #featureTwo {
        display: flex;
        flex-direction: row;
    }
    
}

@media (min-width: 992px) {

    #carouselExampleInterval {
        margin-top: 0ch;  
    }
    #title {
        margin-left: 3ch;
        margin-top: 2ch;
        font-size: 1.5em;
    }
    
    header {
        padding-top: 3vw;
    }

    #nav {
        margin-top: 0ch;
        font-size: 1em;
    }

    #create {
        font-family: "ApercuProMedium";
        font-size: 3vw;
        line-height: 0.95;
        text-align: left;
        max-width: 60vw;
    }

    #sec2 {
        /* z-index: 1; */
        margin-top: 0vw;
    }
    
    #smallprint {
        font-family: "ApercuProRegular";
        font-size: 1.5vw;
        line-height: 0.95;
        text-align: left;
        max-width: 50vw;
    }
}

@media (min-width: 1200px) {
    #carouselExampleInterval {
        margin-top: 0ch;  
    }
}

@media (min-width: 1400px) {
    #carouselExampleInterval {
        margin-top: 0ch;  
    }
    #videodiv {
        /* margin-top: -0.8vw;
        margin-left: -3vw; */
        width:100%;
        overflow:hidden;   
        margin-top: -5ch;
    }
}





